<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- Título dinâmico para cada página -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM Plex Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
</head>
<body>
    <header class="header">
        <nav class="menu">
            <ul class="menu-list">
              <li class="menu-item"><a href="/">Home</a></li>
              <li class="menu-item"><a href="/users/create">Criar Conta</a></li>
              <% if (user) { %>
                  <li class="menu-item"><a href="/product/create">Adicionar Produto</a></li>
                  <li class="menu-item"><a href="/products">Lista</a></li>
                  <li class="menu-item"><a href="/logout">Logout</a></li>
              <% } else { %>
                  <li class="menu-item"><a href="/user/login">Login</a></li>
              <% } %>
            </ul>
        </nav>
    </header>
</body>
</html>