* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d0d7dd; /* Cor de fundo */
    font-family: "IBM Plex Sans", sans-serif;
    color: #1E293B; /* Cor de texto */
    overflow: hidden;
}

.footer {
    background-color: #1E3A8A; /* Azul principal */
    color: #F0F4F8; /* Cor de fundo */
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(30, 58, 138, 0.85); /* Azul principal com transparência */
    padding: 0.3rem;
}

.menu-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 0 1rem;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: #F0F4F8; /* Cor de fundo */
    font-size: 1rem;
    padding: 0.5rem 0;
    display: inline-block;
    transition: color 0.4s ease;
}

.menu-item a:hover {
    color: #FFD700; /* Cor de destaque */
}

/* Linha animada ao passar o mouse */
.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFD700; /* Cor de destaque */
    transition: width 0.4s ease;
}

.menu-item:hover::after {
    width: 100%;
}

.page-title {
    text-align: center;
    font-size: 1.5rem;
    color: #32405a; /* Cor de texto */
    margin-bottom: 1rem; 
    transform: translateY(-20px);
}

.background-container {
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1E293B; /* Cor de texto */
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 370px; 
    height: auto; 
    padding: 2rem;
    background-color: rgba(147, 197, 253, 0.85); /* Azul claro com transparência */
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-30px);
}

.form-container input {
    width: 100%; 
    max-width: 800px; 
    height: 2.7rem; 
    padding: 1rem; 
    margin: 0.5rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem; 
    background-color: #F0F4F8; /* Cor de fundo */
    color: #1E293B; /* Cor de texto */
}

.btn {
    margin-top: 0.5rem;
    background-color: #3B82F6; /* Azul secundário */
    color: #F0F4F8; /* Cor de fundo */
    padding: 0.7rem 1.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2563EB; /* Azul secundário mais escuro */
}

.expired-session {
    text-align: center;
    background-color: #93C5FD; /* Azul claro */
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expired-session h1 {
    color: #1E3A8A; /* Azul principal */
}

.expired-session p {
    font-size: 1rem;
    color: #1E293B; /* Cor de texto */
}

.expired-session a {
    color: #3B82F6; /* Azul secundário */
    text-decoration: none;
}

.expired-session a:hover {
    text-decoration: underline;
}

.form-group {
    display: block;
    align-items: center;
    margin-bottom: 1rem;
    margin-bottom: 0.2rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: #F0F4F8; /* Cor de fundo */
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1rem;
    background-color: #F0F4F8; /* Cor de fundo */
    color: #1E293B; /* Cor de texto */
}

.input-number {
    display: flex;
    align-items: center;
}


.btn-priority.high {
    background-color: #EF4444; /* Vermelho */
    color: #fff;
}

.btn-priority.medium {
    background-color: #f1f50b; /* Laranja */
    color: #333;
}

.btn-priority.low {
    background-color: #39a717; /* Verde */
    color: #fff;
}

.btn-finalizado.yes {
    background-color: #39a717; /* Verde */
    color: #fff;
}

.btn-finalizado.no {
    background-color: #EF4444; /* Vermelho */
    color: #fff;
}


.form-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-submit,
.btn-cancel {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn-submit {
    background-color: #1E3A8A; /* Azul principal */
    color: #F0F4F8; /* Cor de fundo */
}

.btn-submit:hover {
    background-color: #3f67d3; /* Azul principal mais escuro */
}

.btn-cancel {
    background-color: #EF4444; /* Vermelho */
    color: #fff;
}

.btn-cancel:hover {
    background-color: #6b1b1b; /* Vermelho mais escuro */
}

.btn-cancel:hover, .btn-submit:hover {
    transform: scale(1.05);
}


.radio-group {
    display: flex;
    justify-content: center;
}

.radio-group input[type="radio"] {
    display: none; /* Esconde o rádio padrão */
}

.radio-group label {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    user-select: none;
    transition: opacity 0.3s, transform 0.2s;
}

.radio-group label:hover {
    transform: scale(1.05);
}

/* Estilos personalizados para cada botão */
.btn-priority.high {
    background-color: #EF4444;
}

.btn-priority.medium {
    background-color: #FFD700;
    color: #1E293B;
}

.btn-priority.low {
    background-color: #39a717;
}

/* Seleção ativa */
.radio-group input[type="radio"]:checked + label {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.6;
}

.filter-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
    margin-right: 10rem;
}

.search-input {
    width: 50%;
    max-width: 400px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #b4b2b2;
    border-radius: 6px;
}


.filter {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
}

.filter-label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
    color: #009879;
}   


.btn-filter {
    background-color: #1E3A8A; /* Azul principal */
    color: #F0F4F8; /* Cor de fundo */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}

.btn-filter:hover {
    background-color: #3f67d3;
    transform: translateY(-2px);
}

.styled-table {
    width: 98%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1em;
    font-family: 'Archivo', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
    border-radius: 18px;
    overflow: hidden;
    border: 1px solid #000000;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: white;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 0.7rem 1rem;
    border: 1px solid #000000;
    position: relative;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.details-link {
    color: #009879;
    text-decoration: none;
    font-weight: bold;
}

.details-link:hover {
    text-decoration: underline;
}

.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.2rem;
    height: 100%;
    background-color: #ffffff;
    cursor: col-resize;
    user-select: none;
}

.image_table {
    display: flex;
    align-items: center;
    width: 100%;
}

.image_table img {
    width: 24px;
    height: 24px;
    margin-left: auto; /* Força a imagem para a direita */
}
.row-resizer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 100%;
    background-color: #c4c2c2;
    cursor: row-resize;
    user-select: none;
}
.styled-table tr {
    position: relative;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(147, 197, 253, 0.85);
    padding: 2rem;
    border-radius: 25px;
    max-width: 470px;
    margin: 12rem auto;
    margin-top: -1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.product-details {
    background-color: #F3F4F6;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.product-title {
    font-size: 2rem;
    color: #1E3A8A;
    margin-bottom: 0.5rem;
}

.product-body {
    font-size: 1.5rem;
    color: #009879;
    margin: 1rem 0;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn-edit {
    background-color: #FFC107;
    color: #1E293B;
    padding: 0.8rem 1.6rem;
    border-radius: 12px;
    transition: all 0.3s ease;
    text-decoration: none;
}
.btn-edit:hover {
    background-color: #FFD54F;
    transform: translateY(-3px);
}

.btn-secondary {
    background-color: #DC2626;
    color: white;
    padding: 0.8rem 1.6rem;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.btn-secondary:hover {
    background-color: #F87171;
    transform: translateY(-3px);
}

#detail-body-priority {
    color: #a32828;
}

#detail-body-finished {
    color: #dbaa09;
}

#searchButton {
    background-color: #1E3A8A;
    color: #F0F4F8;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s;
}

#searchButton:hover {
    background-color: #3f67d3;
    transform: translateY(-2px);
}

.dropdown {
    position: relative;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Alinha o dropdown à direita */
.menu-item.dropdown.right {
    margin-left: auto; 
}


.dropdown.right .dropdown-content {
    right: 0;
}