* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: #f8f9fa;
    font-family: "IBM Plex Sans", sans-serif;
}

.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(52, 58, 64, 0.85);
    padding: 0.3rem;
  }
  
.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 0 1rem;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 0;
    display: inline-block;
    transition: color 0.4s ease;
}

.menu-item a:hover {
    color: #f39c12;
}

/* Linha animada ao passar o mouse */
.menu-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f39c12;
    transition: width 0.4s ease;
}

.menu-item:hover::after {
    width: 100%;
}

.page-title {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem; 
    transform: translateY(-20px);
}


.background-container {
    background-size: cover;
    background-position: center;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; 
    height: auto; 
    padding: 2rem;
    background-color: rgba(146, 163, 182, 0.85); 
    border-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-30px);
}

.form-container input {
    width: 100%; /* Mantém a largura ajustável dentro do container */
    max-width: 700px; /* Aumenta o valor máximo da largura */
    height: 2.7rem; /* Define uma altura maior */
    padding: 1rem; /* Adiciona mais preenchimento interno */
    margin: 0.5rem 0;
    border-radius: 5px;
    border: none;
    font-size: 1rem; /* Aumenta o tamanho do texto */
}


.btn {
    margin-top: 0.5rem;
    background-color: #f39c12;
    color: white;
    padding: 0.7rem 1.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e67e22; 
}

.expired-session {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expired-session h1 {
    color: #d9534f;
}

.expired-session p {
    font-size: 18px;
    color: #333;
}

.expired-session a {
    color: #5bc0de;
    text-decoration: none;
}

.expired-session a:hover {
    text-decoration: underline;
}

.form-group {
    display: block;
    align-items: center;
    margin-bottom: 1rem;
    margin-bottom: 0.2rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.radio-group {
    display: flex;
    gap: 1rem;
    justify-content: center;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 1rem;
}

.input-number {
    display: flex;
    align-items: center;
}


.radio-group {
    display: flex;
    gap: 1rem;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group label {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-priority.high {
    background-color: #da2121;
    color: #fff;
}

.btn-priority.medium {
    background-color: #d5e21e;
    color: #333;
}

.btn-priority.low {
    background-color: #1dc018f6;
    color: #fff;
}

.btn-finalizado.yes {
    background-color: #1dc018f6;
    color: #fff;
}

.btn-finalizado.no {
    background-color: #da2121;
    color: #fff;
}

.radio-group input[type="radio"]:checked + label {
    opacity: 0.8;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-submit,
.btn-cancel {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-cancel {
    background-color: #da2121;
    color: #fff;
}

.btn-cancel:hover {
    background-color: #631111;
}