<%- include('../../partials/header', { title: 'Nova Senha'}) %>

<div class="background-container" style="background-image: url('/img/fundo_02.jpg');">
    <div class="page-title">
        <h1>Nova Senha</h1>
    </div>
    <div class="form-container">    
        <form action="/user/password/new/save" method="POST">
            <input type="hidden" name="id" value="<%= user.id %>">
            <label for="current_password">Senha Atual</label>
            <div>
                <input type="password" name="current_password" id="current_password" placeholder="Senha Atual" required>
            </div>
            <label for="password">Nova Senha</label>
            <div>
                <input type="password" name="password" id="password" placeholder="Senha" required>
            </div>
            <label for="confirm_password">Confirmar Senha</label>
            <div>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar Senha" required>
            </div>
            <button class="btn" type="submit" id="send-button">Enviar</button>
        </form>
    </div>
</div>

<%- include('../../partials/footer') %>

